---
title: contacts
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div id="panel"></div>
<nav>
	<div class="navbar">
		<div class="container-new">
			<a class="navbar-brand" href="/""><img src="http://renovatio.ru/bitrix/templates/renovations_rus/img/logo.png" alt=""></a>
			<div class="navbar-collapse navbar-responsive-collapse">
				
<ul class="nav navbar-nav pull-left">
	<h1 style="background-image: url(http://renovatio.ru/bitrix/templates/renovations_rus/img/kompany.jpg);">Production holding company</h1>
					<li><a href="/news/">Новости</a><span>|</span></li>
		
			<li><a href="/movies/">Фильмы</a><span>|</span></li>
		
			<li><a href="/about-the-company/">О компании</a><span>|</span></li>
		
			<li><a href="/press/">ПРЕССА</a><span>|</span></li>
		
			<li><a href="/contacts/" class="selected">Контакты</a><span>|</span></li>
		

</ul>
				<div class="nav-right pull-right">
					<div class="nav-social-wrap">
						<div class="nav-social">
	<a target="_blank" href="http://www.facebook.com/RenovatioEnt">
		<i class="fa fa-facebook" aria-hidden="true"></i>
	</a>
</div>
<div class="nav-social">
	<a target="_blank" href="http://www.twitter.com/RenovatioEnt">
		<i class="fa fa-twitter" aria-hidden="true"></i>
	</a>
</div>
<div class="nav-social">
	<a target="_blank" href="http://www.vk.com/RenovatioEnt">
		<i class="fa fa-bold" aria-hidden="true"></i>
	</a>
</div>					</div>
					<div class="nav-lang-wrap">
						<p>


			<a href="
		/en/contacts/index.php"
	title="English">English</a>&nbsp;
	

			<span title="Русский"><b>Русский</b></span>&nbsp;
	
</p>






					</div>
				</div>
			</div>
			<div class="menu-mobile-cross js-cross">
				<span></span>
			</div>
		</div>
	</div>
</nav>



<section id="contacts">
	<div class="container-new container-p"><h2><strong>Контакты</strong></h2>
<div class="row contacts-block">
	<div class="contacts-left">
		<h3><strong>Адрес компании:</strong></h3>
		<p>
			<strong>109052, Россия, Москва ул. Подъемная, 9</strong>
		</p>
		<h3><strong>Телефон компании:</strong></h3>
		<p>
			<strong>+7(495)361-26-90</strong>
		</p>
		<h3><strong>Электронная почта:</strong></h3>
		<p>
			<strong><a href="mailto:info@renovatio.ru">info@renovatio.ru</a></strong>
		</p>
		<div class="contacts-social">
			<h3><strong>Социальные сети:</strong></h3>
			<div class="contacts-social-block">
				<div class="nav-social">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</div>
				<p>
					<strong><a href="https://www.facebook.com/RenovatioEnt">Мы в Facebook</a></strong>
				</p>
			</div>
			<div class="contacts-social-block">
				<div class="nav-social">
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</div>
				<p>
					<strong><a href="https://twitter.com/RenovatioEnt">Мы в Twitter</a></strong>
				</p>
			</div>
			<div class="contacts-social-block">
				<div class="nav-social">
					<i class="fa fa-bold" aria-hidden="true"></i>
				</div>
				<p>
					<strong><a href="https://vk.com/renovatioent">Мы Вконтакте</a></strong>
				</p>
			</div>
		</div>
	</div>
	<div class="map">
		 <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=yoIxx39L19XlsRuqbD2w2qXKp9R0zHBW&width=700&height=430&lang=ru_RU&sourceType=constructor&scroll=true"></script>
	</div>
</div>
<br></div>
</section>

<footer>
	<div class="container-new container-p">
		<div class="row">
			<div class="footer-l">
				<h2>Партнеры</h2>
<p>
 <a href="http://enjoy-movies.ru">Enjoy Movies - кинокомпания</a>
</p>
<p>
 <a href="http://r-studios.ru">R Studio - кинопроизводственный комплекс</a>
</p>
<p>
 <a href="http://rnv-media.ru">Renovatio TV - продюсерский центр</a>
</p>
<p>
 <a href="http://musictownrecords.ru">Music Town Records - музыкальный лейбл</a>
</p>			</div>
			<div class="footer-c">
					<h2>Контакты</h2>
<p>
	109052, Россия, Москва


</p>
<p>
	ул. Подъемная, 9
</p>
<p>
	 Телефон: <a href="tel:+74953612690">+7(495)361-26-90</a>
</p>
<p>
	 e-mail: <a href="mailto:info@renovatio.ru">info@renovatio.ru</a>
</p>			</div>
			<div class="footer-r">
				<h2>Социальные сети</h2>
<p>
	<a href="https://www.instagram.com/renovatioent/"><img alt="icons8-instagram-50(1).png" src="http://renovatio.ru/upload/medialibrary/2e1/2e1b238a64e961b873252d959662f4ea.png" title="icons8-instagram-50(1).png" width="50" height="50"></a><a href="https://www.facebook.com/RenovatioEnt/"><img alt="icons8-facebook-48.png" src="http://renovatio.ru/upload/medialibrary/058/05823ec0745d990ff5ad5edafcfab1dd.png" title="icons8-facebook-48.png" width="48" height="48"></a><br>
</p>
<br>
<p>
	<br>
</p>			</div>
		</div>
	</div>
</footer>

<section id="copy">
	<div class="container-new container-p">
		<p>&copy; 2010-2018 Renovatio Entertaiment. Все права защищены. All rights reserved.</p>	</div>
</section>
 
{% endblock %}
