---
title: press
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div id="panel"></div>
<nav>
	<div class="navbar">
		<div class="container-new">
			<a class="navbar-brand" href="/""><img src="http://renovatio-ent.com/bitrix/templates/renovations_rus/img/logo.png" alt=""></a>
			<div class="navbar-collapse navbar-responsive-collapse">
				
<ul class="nav navbar-nav pull-left">
	<h1 style="background-image: url(http://renovatio-ent.com/bitrix/templates/renovations_rus/img/kompany.jpg);">Production holding company</h1>
					<li><a href="/news/" class="selected">Новости</a><span>|</span></li>
		
			<li><a href="/movies/">Фильмы</a><span>|</span></li>
		
			<li><a href="/about-the-company/">О компании</a><span>|</span></li>
		
			<li><a href="/press/">ПРЕССА</a><span>|</span></li>
		
			<li><a href="/contacts/">Контакты</a><span>|</span></li>
		

</ul>
				<div class="nav-right pull-right">
					<div class="nav-social-wrap">
						<div class="nav-social">
	<a target="_blank" href="http://www.facebook.com/RenovatioEnt">
		<i class="fa fa-facebook" aria-hidden="true"></i>
	</a>
</div>
<div class="nav-social">
	<a target="_blank" href="http://www.twitter.com/RenovatioEnt">
		<i class="fa fa-twitter" aria-hidden="true"></i>
	</a>
</div>
<div class="nav-social">
	<a target="_blank" href="http://www.vk.com/RenovatioEnt">
		<i class="fa fa-bold" aria-hidden="true"></i>
	</a>
</div>					</div>
					<div class="nav-lang-wrap">
						<p>


			<a href="
		/en/news/as-we-are-not-ashamed-scandalous-a-press-conference-on-temporary-difficulties-at-the-festival-kinota.html"
	title="English">English</a>&nbsp;
	

			<span title="Русский"><b>Русский</b></span>&nbsp;
	
</p>






					</div>
				</div>
			</div>
		</div>
	</div>
</nav>



<section id="news">
	<div class="container-new container-p">  
<div id="single-news">
	<h2>НОВОСТИ</h2>
					<img class="x-img-main" alt="Как нам не стыдно! Скандальная пресс-конференция по «Временным трудностям» на фестивале «Кинотавр»" src="http://renovatio-ent.com/upload/resize_cache/iblock/a0c/1010_430_2/a0ce203dcbcf8d796d1b809f5760bd78.jpg" />	<h3>Как нам не стыдно! Скандальная пресс-конференция по «Временным трудностям» на фестивале «Кинотавр»</h3>
	<hr>
	<div class="date"><p>07.06.2018</p></div>
	<p>Пресс-конференция по итогам просмотра фильма «Временные трудности» на фестивале «Кинотавр» прошла со скандалом! </p>
	<p><p style="text-align: justify;">
	 В адрес создателей фильма сыпались фразы про политику, домашнее насилие, издевательство над больным человеком, даже упомянули фамилии Сталин и Путин, якобы олицетворяющие сакральную фигуру отца главного героя. <br>
</p>
<p style="text-align: justify;">
 <br>
</p>
<p style="text-align: justify;">
</p>
<p style="text-align: justify;">
</p>
<p style="text-align: justify;">
</p>
<p style="text-align: justify;">
	 Мало кого из журналистов интересовало, что фильм о судьбе конкретного человека, фильм о его борьбе с болезнью, с миром, с отцом, большинство старалось ухватиться за надуманную нить политической подоплеки сценария.
</p>
<p>
</p>
<p style="text-align: justify;">
 <br>
</p>
<p style="text-align: justify;">
</p>
<p style="text-align: justify;">
</p>
<p style="text-align: justify;">
</p>
<p style="text-align: justify;">
	 Одним из самых интересных вопросов стал вопрос от корреспондента газеты «Коммерсантъ» - «Вам не стыдно за то, что вы сделали?». <br>
</p>
<p style="text-align: justify;">
 <br>
</p>
<p style="text-align: justify;">
</p>
<p style="text-align: justify;">
</p>
<p style="text-align: justify;">
</p>
<p style="text-align: justify;">
	 Режиссер Михаил Расходников и актер Риналь Мухаметов, сыгравший главную роль в фильме, высказали свое мнение на тему стыда в отношении «Временных трудностей»: <br>
</p>
<p style="text-align: justify;">
 <br>
</p>
<p style="text-align: justify;">
</p>
<p style="text-align: justify;">
</p>
<p style="text-align: justify;">
</p>
<p style="text-align: justify;">
	 «Эта история основана на жизни реального человека, поэтому те факты, которые есть в этом фильм, вплоть и до человека, и до «Артека», - это жизнь. За жизнь не стыдно. И та судьба человека, и как он с этим боролся… Я просто не понимаю, почему за это должно быть стыдно. Для меня инвалидов нет. Для меня нет людей с ограниченными возможностями, потому что мы все в чём-то ограничены, и только от нас зависит, как мы к этому относимся»
</p>
<p style="text-align: justify;">
</p>
<p style="text-align: right;">
	 Михаил Расходников <br>
</p>
<p style="text-align: right;">
 <br>
</p>
<p style="text-align: justify;">
</p>
<p style="text-align: justify;">
</p>
<p style="text-align: justify;">
</p>
<p style="text-align: justify;">
</p>
<p style="text-align: justify;">
</p>
<p style="text-align: justify;">
	 «[…] В чем тут стыд, если, к сожалению, есть такие реалии жизни, и они показаны, да, в более мягкой форме. Я тут абсолютно согласен с Мишей, потому что мы делали так, чтобы история была не настолько сильна. Но даже если, глядя на этот фильм, кому-то из зрителей станет тяжело, сложно, пусть они множат это на десять, относят к своим проблемам и, возможно, они поймут, что на самом деле они воистину счастливы. И тут вопрос стыда очень странен. Мы не снимали кино, восхищаясь теми людьми, которые апеллируют странными вещами. Это ошибки, которые нужно исправлять. Снимают фильмы про войну, ну и что? Сейчас каждого спрашивать, вам не стыдно, что вы снимаете фильмы про войну? Это абсолютно та же самая война, которая есть, и она идет. Поэтому стыдного тут ничего нет. Я наоборот рад, что это кино есть. И, возможно, те люди, которые посмотрят, как-то обратят внимание на свое отношение к данной ситуации, и все изменится к лучшему. И наконец-то люди станут нормальными.»
</p>
<p style="text-align: justify;">
</p>
<p style="text-align: right;">
	 Риналь Мухаметов
</p>
<p style="text-align: right;">
 <br>
</p>
<p style="text-align: center;">
	 <iframe title="Риналь Мухаметов и Мизаил Расходников - о стыде в фильме &quot;Временные трудности&quot;" src="//www.youtube.com/embed/RazqgQTXYMk?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" width="560" height="315" frameborder="0">
	<br>
	</iframe>
</p>
<p style="text-align: right;">
 <br>
</p></p>

		<div class="gallery">
			</div>

	<a href="
		/news/">
		<button class="btn-news">Вернуться к новостям</button>
	</a>
</div>


</div>
</section>

<footer>
	<div class="container-new container-p">
		<div class="row">
			<div class="footer-l">
				<h2>Партнеры</h2>
<p>
 <a href="http://enjoy-movies.ru">Enjoy Movies - кинокомпания</a>
</p>
<p>
 <a href="http://r-studios.ru">R Studio - кинопроизводственный комплекс</a>
</p>
<p>
 <a href="http://rnv-media.ru">Renovatio TV - продюсерский центр</a>
</p>
<p>
 <a href="http://musictownrecords.ru">Music Town Records - музыкальный лейбл</a>
</p>			</div>
			<div class="footer-c">
					<h2>Контакты</h2>
<p>
	109052, Россия, Москва


</p>
<p>
	ул. Подъемная, 9
</p>
<p>
	 Телефон: <a href="tel:+74953612690">+7(495)361-26-90</a>
</p>
<p>
	 e-mail: <a href="mailto:info@renovatio.ru">info@renovatio.ru</a>
</p>			</div>
			<div class="footer-r">
				<h2>Социальные сети</h2>
<p>
	<a href="https://www.instagram.com/renovatioent/"><img alt="icons8-instagram-50(1).png" src="http://renovatio-ent.com/upload/medialibrary/2e1/2e1b238a64e961b873252d959662f4ea.png" title="icons8-instagram-50(1).png" width="50" height="50"></a><a href="https://www.facebook.com/RenovatioEnt/"><img alt="icons8-facebook-48.png" src="http://renovatio-ent.com/upload/medialibrary/058/05823ec0745d990ff5ad5edafcfab1dd.png" title="icons8-facebook-48.png" width="48" height="48"></a><br>
</p>
<br>
<p>
	<br>
</p>			</div>
		</div>
	</div>
</footer>

<section id="copy">
	<div class="container-new container-p">
		<p>&copy; 2010-2018 Renovatio Entertaiment. Все права защищены. All rights reserved.</p>	</div>
</section>

{% endblock %}
