---
title: news
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div id="panel"></div>
<nav>
	<div class="navbar">
		<div class="container-new">
			<a class="navbar-brand" href="/""><img src="http://renovatio.ru/bitrix/templates/renovations_rus/img/logo.png" alt=""></a>
			<div class="navbar-collapse navbar-responsive-collapse">
				
<ul class="nav navbar-nav pull-left">
	<h1 style="background-image: url(http://renovatio.ru/bitrix/templates/renovations_rus/img/kompany.jpg);">Production holding company</h1>
					<li><a href="/news/" class="selected">Новости</a><span>|</span></li>
		
			<li><a href="/movies/">Фильмы</a><span>|</span></li>
		
			<li><a href="/about-the-company/">О компании</a><span>|</span></li>
		
			<li><a href="/press/">ПРЕССА</a><span>|</span></li>
		
			<li><a href="/contacts/">Контакты</a><span>|</span></li>
		

</ul>
				<div class="nav-right pull-right">
					<div class="nav-social-wrap">
						<div class="nav-social">
	<a target="_blank" href="http://www.facebook.com/RenovatioEnt">
		<i class="fa fa-facebook" aria-hidden="true"></i>
	</a>
</div>
<div class="nav-social">
	<a target="_blank" href="http://www.twitter.com/RenovatioEnt">
		<i class="fa fa-twitter" aria-hidden="true"></i>
	</a>
</div>
<div class="nav-social">
	<a target="_blank" href="http://www.vk.com/RenovatioEnt">
		<i class="fa fa-bold" aria-hidden="true"></i>
	</a>
</div>					</div>
					<div class="nav-lang-wrap">
						<p>


			<a href="
		/en/news/georgy-malkov-ivan-okhlobystin-and-rinal-mukhametov-about-temporary-difficulties.html"
	title="English">English</a>&nbsp;
	

			<span title="Русский"><b>Русский</b></span>&nbsp;
	
</p>






					</div>
				</div>
			</div>
		</div>
	</div>
</nav>



<section id="news">
	<div class="container-new container-p">  
<div id="single-news">
	<h2>НОВОСТИ</h2>
					<img class="x-img-main" alt="Георгий Малков, Иван Охлобыстин и Риналь Мухаметов - о фильме «Временные трудности»" src="http://renovatio.ru/upload/iblock/11e/11e407da8e5db9fa88aca02386e636cc.jpg" />	<h3>Георгий Малков, Иван Охлобыстин и Риналь Мухаметов - о фильме «Временные трудности»</h3>
	<hr>
	<div class="date"><p>01.06.2018</p></div>
	<p>Осенью 2018 года на широкий экран выйдет драма режиссера Михаила Расходникова «Временные трудности».</p>
	<p><div>
 <br>
 <span style="color: #ffffff;"> </span>
</div>
<p style="text-align: justify;">
 <span style="color: #ffffff;"> </span>
</p>
<div style="text-align: justify;">
 <span style="color: #ffffff;">
	Продюсер картины Георгий Малков и исполнители главных ролей Иван Охлобыстин и Риналь Мухаметов поделились своими мыслями и впечатлениями от сценария. </span>
</div>
<div>
 <br>
</div>
<div>
 <br>
</div>
<p style="text-align: justify;">
 <span style="color: #ffffff;"> </span>
</p>
<p style="text-align: center;">
 <span style="color: #ffffff;"> </span><img alt="Георгий Малков2.jpg" src="http://renovatio.ru/upload/medialibrary/5d0/5d02160c797a43b49928205091fb84d9.jpg" title="Георгий Малков2.jpg" width="768" height="351">
</p>
<p style="text-align: justify;">
 <br>
 <span style="color: #ffffff;"> </span>
</p>
<p style="text-align: justify;">
 <i><span style="color: #ffffff;"> </span></i>
</p>
<p style="text-align: justify;">
 <span style="color: #ffffff;"> </span><i><span style="color: #ffffff;">«Для нас ценность реальной истории, которая легла в основу фильма, была не только в том, что человек справился со своей болезнью, но и в том, почему и как это стало возможным. Это кино об ответственности родителей, и о том, что такое родительская любовь... Так что история гораздо шире, чем преодоление трудностей. То, что ребенок не здоров, просто обостряет всем понятный конфликт отцов и детей.</span></i><br>
 <i><span style="color: #ffffff;"> </span></i><br>
 <i><span style="color: #ffffff;">
	При этом это очень светлая история. Мы надеемся, что она подтолкнет зрителей к свершениям, к тому, чтобы реализовывать свои мечты. Ведь если что-то не получается, то это лишь «временные трудности». Если смог наш герой, то смогут все, надо только не сдаваться и не опускать рук. </span></i><br>
 <i><span style="color: #ffffff;"> </span></i><br>
 <i><span style="color: #ffffff;">
	Наверно, я могу назвать картину мотивирующей, пробуждающей и побуждающей к изменениям».</span></i><br>
 <i><span style="color: #ffffff;"> </span></i><br>
 <i><span style="color: #ffffff;"> </span></i>
</p>
<p style="text-align: right;">
 <br>
 <i><span style="color: #ffffff;">
	Георгий Малков <br>
 </span></i>
</p>
<p style="text-align: right;">
 <br>
</p>
<p style="text-align: center;">
 <img alt="ВТ_фото_16.jpg" src="http://renovatio.ru/upload/medialibrary/6a4/6a4bb3a0e4d5796f053a9c3d859a4a5f.jpg" title="ВТ_фото_16.jpg" width="1024" height="435"><br>
 <i><span style="color: #ffffff;"> </span></i>
</p>
<p style="text-align: justify;">
 <br>
 <i><span style="color: #ffffff;">
	«Когда говоришь, что снимаешься в кино о больном ребёнке, в ответ часто слышишь: «А, всё понятно!» А что понятно?! На самом деле ничего не понятно. Это фильм о нас с вами, об ответственности и о любви. Не о каком-то бесцветном романтизме. Это история очень честной и жёсткой любви.</span></i><br>
 <i><span style="color: #ffffff;"> </span></i><br>
 <i><span style="color: #ffffff;">
	Как ни странно, мой персонаж очень сильно похож на меня, поэтому я прекрасно понимаю его обиду. Это обида на непонимание и недоверие. Потому что, наверное, самое страшное для нас – недоверие родителей, отсутствие у них веры в своего ребенка». </span></i><br>
 <i><span style="color: #ffffff;"> </span></i><br>
 <i><span style="color: #ffffff;"> </span></i>
</p>
<p style="text-align: right;">
 <br>
 <i><span style="color: #ffffff;">
	Риналь Мухаметов </span></i><br>
 <i><span style="color: #ffffff;"> </span></i><br>
 <i><span style="color: #ffffff;"> </span></i>
</p>
<p style="text-align: center;">
 <img alt="ВТ_фото_15.jpg" src="http://renovatio.ru/upload/medialibrary/2e0/2e0e9c2d3a882c22a906373696808aa7.jpg" title="ВТ_фото_15.jpg" width="1024" height="435"><br>
 <i><span style="color: #ffffff;"> </span></i><i><span style="color: #ffffff;"> </span></i><i><span style="color: #ffffff;"> </span></i><i><span style="color: #ffffff;"> </span></i><i><span style="color: #ffffff;"> </span></i><i><span style="color: #ffffff;"> </span></i><i><span style="color: #ffffff;"> </span></i><i><span style="color: #ffffff;"> </span></i>
</p>
<p style="text-align: justify;">
 <br>
 <i> </i><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i>
	«Это хорошая, добрая картина, в которой люди преодолевают себя. И речь не только о болезни главного героя. Главный посыл моего персонажа - нет непреодолимых препятствий. Пока ты жив, все - временные трудности. </i></span><br>
 <i> </i><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><br>
 <i> </i><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i> </i></span><span style="color: #ffffff;"><i>
	Хороший сценарий, дотошный режиссер - у нас мало душевных картин в отечественном кинематографе. Думаю, наш фильм достойно дополнит ряд этих уникальных фильмов».</i></span><br>
 <span style="color: #ffffff;"> </span><span style="color: #ffffff;"> </span><span style="color: #ffffff;"> </span><span style="color: #ffffff;"> </span><span style="color: #ffffff;"> </span><span style="color: #ffffff;"> </span><span style="color: #ffffff;"> </span><span style="color: #ffffff;"> </span><span style="color: #ffffff;"> </span><br>
 <i><span style="color: #ffffff;"> </span></i><i><span style="color: #ffffff;"> </span></i><i><span style="color: #ffffff;"> </span></i><i><span style="color: #ffffff;"> </span></i><i><span style="color: #ffffff;"> </span></i><i><span style="color: #ffffff;"> </span></i><i><span style="color: #ffffff;"> </span></i><i><span style="color: #ffffff;"> </span></i><i><span style="color: #ffffff;"> </span></i><i><span style="color: #ffffff;"> </span></i>
</p>
<p style="text-align: right;">
 <br>
 <i><span style="color: #ffffff;"> </span></i><i><span style="color: #ffffff;"> </span></i><i><span style="color: #ffffff;"> </span></i><i><span style="color: #ffffff;"> </span></i><i><span style="color: #ffffff;">Иван Охлобыстин</span></i><i><span style="color: #ffffff;"> </span></i>
</p>
<p style="text-align: justify;">
 <i><span style="color: #ffffff;"> </span></i>
</p>
 <i>
<p style="text-align: right;">
</p>
 </i><i> </i></p>

		<div class="gallery">
			</div>

	<a href="
		/news/">
		<button class="btn-news">Вернуться к новостям</button>
	</a>
</div>


</div>
</section>

<footer>
	<div class="container-new container-p">
		<div class="row">
			<div class="footer-l">
				<h2>Партнеры</h2>
<p>
 <a href="http://enjoy-movies.ru">Enjoy Movies - кинокомпания</a>
</p>
<p>
 <a href="http://r-studios.ru">R Studio - кинопроизводственный комплекс</a>
</p>
<p>
 <a href="http://rnv-media.ru">Renovatio TV - продюсерский центр</a>
</p>
<p>
 <a href="http://musictownrecords.ru">Music Town Records - музыкальный лейбл</a>
</p>			</div>
			<div class="footer-c">
					<h2>Контакты</h2>
<p>
	109052, Россия, Москва


</p>
<p>
	ул. Подъемная, 9
</p>
<p>
	 Телефон: <a href="tel:+74953612690">+7(495)361-26-90</a>
</p>
<p>
	 e-mail: <a href="mailto:info@renovatio.ru">info@renovatio.ru</a>
</p>			</div>
			<div class="footer-r">
				<h2>Социальные сети</h2>
<p>
	<a href="https://www.instagram.com/renovatioent/"><img alt="icons8-instagram-50(1).png" src="http://renovatio.ru/upload/medialibrary/2e1/2e1b238a64e961b873252d959662f4ea.png" title="icons8-instagram-50(1).png" width="50" height="50"></a><a href="https://www.facebook.com/RenovatioEnt/"><img alt="icons8-facebook-48.png" src="http://renovatio.ru/upload/medialibrary/058/05823ec0745d990ff5ad5edafcfab1dd.png" title="icons8-facebook-48.png" width="48" height="48"></a><br>
</p>
<br>
<p>
	<br>
</p>			</div>
		</div>
	</div>
</footer>

<section id="copy">
	<div class="container-new container-p">
		<p>&copy; 2010-2018 Renovatio Entertaiment. Все права защищены. All rights reserved.</p>	</div>
</section>
{% endblock %}


