---
title: news
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div id="panel"></div>
	<nav>
		<div class="navbar">
			<div class="container-new">
				<a class="navbar-brand" href="/""><img src="http://renovatio.ru/bitrix/templates/renovations_rus/img/logo.png" alt=""></a>
				<div class="navbar-collapse navbar-responsive-collapse">
					
	<ul class="nav navbar-nav pull-left">
		<h1 style="background-image: url(http://renovatio.ru/bitrix/templates/renovations_rus/img/kompany.jpg);">Production holding company</h1>
						<li><a href="/news/" class="selected">Новости</a><span>|</span></li>
			
				<li><a href="/movies/">Фильмы</a><span>|</span></li>
			
				<li><a href="/about-the-company/">О компании</a><span>|</span></li>
			
				<li><a href="/press/">ПРЕССА</a><span>|</span></li>
			
				<li><a href="/contacts/">Контакты</a><span>|</span></li>
			

	</ul>
					<div class="nav-right pull-right">
						<div class="nav-social-wrap">
							<div class="nav-social">
		<a target="_blank" href="http://www.facebook.com/RenovatioEnt">
			<i class="fa fa-facebook" aria-hidden="true"></i>
		</a>
	</div>
	<div class="nav-social">
		<a target="_blank" href="http://www.twitter.com/RenovatioEnt">
			<i class="fa fa-twitter" aria-hidden="true"></i>
		</a>
	</div>
	<div class="nav-social">
		<a target="_blank" href="http://www.vk.com/RenovatioEnt">
			<i class="fa fa-bold" aria-hidden="true"></i>
		</a>
	</div>					</div>
						<div class="nav-lang-wrap">
							<p>


				<a href="
			/en/news/uninvited-guests-meet-guests-from-hell.html"
		title="English">English</a>&nbsp;
		

				<span title="Русский"><b>Русский</b></span>&nbsp;
		
	</p>






						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>



	<section id="news">
		<div class="container-new container-p">  
	<div id="single-news">
		<h2>НОВОСТИ</h2>
						<img class="x-img-main" alt="Незваные гости встречают гостей из ада" src="http://renovatio.ru/upload/resize_cache/iblock/b06/1010_430_2/b06f0af7c1f5dbad72427141c77ea585.jpg" />	<h3>Незваные гости встречают гостей из ада</h3>
		<hr>
		<div class="date"><p>04.06.2018</p></div>
		<p><p>
		 28 мая завершился съемочный период нового хоррора производства Renovatio Entertainment &amp; ЦМП – «Гости». <br>
	</p>
	<p>
	 <br>
	</p></p>
		<p><p style="text-align: justify;">
	 <br>
	</p>
	<p style="text-align: justify;">
		 Большую часть времени съемочная группа провела на черноморском побережье, где находится основная локация всей картины – уникальный, в отличном состоянии, дом конца 19 века! Дом построен в модном по тем временам готическом стиле, и чудом так сохранился до наших дней. <br>
	</p>
	<p style="text-align: justify;">
	 <br>
	</p>
	<p style="text-align: justify;">
	</p>
	<p style="text-align: justify;">
		 По сюжету главная героиня Катя знакомится с компанией ребят, увлекающихся организацией вечеринок в чужих пустующих домах. Туристический сезон на побережье закончился, и Катя точно знает подходящее для следующей вечеринки место – дом на берегу. Хозяин дома давно уехал. Знает она об этом, потому что ранее была в него влюблена. <br>
	</p>
	<p style="text-align: justify;">
		<br>
	</p>
	<p style="text-align: center;">
		<img alt="13_.jpg" src="http://renovatio.ru/upload/medialibrary/fc1/fc12d49d4eceffd0ae81292480f963e5.jpg" title="13_.jpg" width="1024" height="682"><br>
	</p>
	<p style="text-align: justify;">
	 <br>
	</p>
	<p style="text-align: justify;">
	</p>
	<p style="text-align: justify;">
		 Здание выглядит устрашающе. В начале прошлого века в нем практиковали спиритизм, сейчас же это заброшенная территория. Но мурашки по коже только раззадоривают ребят, и компания решает устроиться именно здесь. <br>
	</p>
	<p style="text-align: justify;">
	 <br>
	</p>
	<p style="text-align: justify;">
	</p>
	<p style="text-align: justify;">
		 К большому удивлению героев, в самый разгар вечеринки в доме появляется его хозяин. Человек, находящийся во власти потусторонних сил. <br>
	</p>
	<p style="text-align: justify;">
	 <br>
	</p>
	<p style="text-align: justify;">
	</p>
	<p style="text-align: justify;">
		 Помимо монстров, демонов и прочих мистических тварей, которые будут созданы в период постпродакшна компьютерной графикой, зрители окунутся и в сильную романтическую линию фильма. «Гости» понравятся не только поклонникам «ужастиков», но и любителям «Сумерек» и «Багрового пика». <br>
	</p>
	<p style="text-align: justify;">
		<br>
	</p>
	<p style="text-align: center;">
		<img alt="12_.jpg" src="http://renovatio.ru/upload/medialibrary/ec3/ec3bc760187d7b637d67015d1e085995.jpg" title="12_.jpg" width="1024" height="682"><br>
	</p>
	<p style="text-align: justify;">
	 <br>
	</p>
	<p style="text-align: justify;">
	</p>
	<p style="text-align: justify;">
	 <i>«Мистический хоррор с историческим бэк-граундом – самый зрительский формат хоррора в России и в мире. Не секрет, что основная аудитория фильмов ужасов – это девушки. И мы, как нам кажется, нашли уникальную форму в нашей истории – сочетание мистического и ужасного с романтикой. И в этом смысле зритель получит максимум эмоций». </i><br>
	</p>
	<p style="text-align: justify;">
	 <br>
	</p>
	<p style="text-align: justify;">
	</p>
	<p style="text-align: right;">
	 <i>Георгий Малков, продюсер </i><br>
	</p>
	<p style="text-align: justify;">
	 <br>
	</p>
	<p style="text-align: justify;">
	</p>
	<p style="text-align: justify;">
	 <i>«Сценарий, помимо мистической фактуры и атмосферы, привлек меня своей человеческой историей. В нем присутствует очень сильная мелодраматическая основа. В центре фильма история неразделенной любви юной девушки к взрослому мужчине, находящегося в власти своих демонов – причем в нашем случае, не только в переносном, но и в прямом смысле.» </i><br>
	</p>
	<p style="text-align: right;">
	 <br>
	</p>
	<p style="text-align: right;">
	 <i> </i>
	</p>
	<p style="text-align: right;">
	 <i>
		Евгений Абызов, режиссер </i>
	</p>
	<p style="text-align: justify;">
	 <br>
	</p>
	<p style="text-align: justify;">
	 <br>
	</p>
	<p style="text-align: justify;">
	</p>
	<p style="text-align: justify;">
	</p>
	<p style="text-align: justify;">
	</p>
	<p style="text-align: justify;">
		 Продюсеры: <a href="http://renovatio.ru/about-the-company/producer/georgy-malkov-.html">Георгий Малков</a>, <a href="http://renovatio.ru/about-the-company/producer/vladimir-polyakov.html">Владимир Поляков</a>, Ольга Агеева, Сергей Агеев, Даниил Махорт
	</p>
	<p style="text-align: justify;">
	</p>
	<p style="text-align: justify;">
		 Авторы сценария: Ольга Агеева, Сергей Агеев
	</p>
	<p style="text-align: justify;">
	</p>
	<p style="text-align: justify;">
		 Режиссер-постановщик: Евгений Абызов
	</p>
	<p style="text-align: justify;">
	</p>
	<p style="text-align: justify;">
		 Оператор-постановщик: Антон Зенкович
	</p>
	<p style="text-align: justify;">
	</p>
	<p style="text-align: justify;">
		 В ролях: Юрий Чурсин, Ангелина Стречина, Михаил Мещеряков, Анастасия Зенкович, Анар Халилов, Евгений Егоров, Марина Панферова, Иван Верховых
	</p></p>

			<div class="gallery">
				</div>

		<a href="
			/news/">
			<button class="btn-news">Вернуться к новостям</button>
		</a>
	</div>


	</div>
	</section>

	<footer>
		<div class="container-new container-p">
			<div class="row">
				<div class="footer-l">
					<h2>Партнеры</h2>
	<p>
	 <a href="http://enjoy-movies.ru">Enjoy Movies - кинокомпания</a>
	</p>
	<p>
	 <a href="http://r-studios.ru">R Studio - кинопроизводственный комплекс</a>
	</p>
	<p>
	 <a href="http://rnv-media.ru">Renovatio TV - продюсерский центр</a>
	</p>
	<p>
	 <a href="http://musictownrecords.ru">Music Town Records - музыкальный лейбл</a>
	</p>			</div>
				<div class="footer-c">
						<h2>Контакты</h2>
	<p>
		109052, Россия, Москва


	</p>
	<p>
		ул. Подъемная, 9
	</p>
	<p>
		 Телефон: <a href="tel:+74953612690">+7(495)361-26-90</a>
	</p>
	<p>
		 e-mail: <a href="mailto:info@renovatio.ru">info@renovatio.ru</a>
	</p>			</div>
				<div class="footer-r">
					<h2>Социальные сети</h2>
	<p>
		<a href="https://www.instagram.com/renovatioent/"><img alt="icons8-instagram-50(1).png" src="http://renovatio.ru/upload/medialibrary/2e1/2e1b238a64e961b873252d959662f4ea.png" title="icons8-instagram-50(1).png" width="50" height="50"></a><a href="https://www.facebook.com/RenovatioEnt/"><img alt="icons8-facebook-48.png" src="http://renovatio.ru/upload/medialibrary/058/05823ec0745d990ff5ad5edafcfab1dd.png" title="icons8-facebook-48.png" width="48" height="48"></a><br>
	</p>
	<br>
	<p>
		<br>
	</p>			</div>
			</div>
		</div>
	</footer>

	<section id="copy">
		<div class="container-new container-p">
			<p>&copy; 2010-2018 Renovatio Entertaiment. Все права защищены. All rights reserved.</p>	</div>
	</section>
{% endblock %}