
div.news-detail 
	img.detail_picture
		+md
			float: none

.news-detail
	h3
		+sm
			font-size: 20px
	table
		a
			font-size: 14px
	p
		i
			font-size: 14px
.prod-who
	p
		font-size: 15px

.news-date-time
	font-size: 14px
	+md
		display: block

#about-prod
	table
		+md
			width: 100%
		& td:first-child
			+md
				width: 50%
			+sm
				display: block
				width: 100%
		& td:last-child
			+md
				width: 50%
			+sm
				display: block
				width: 100%			
	.gallery
		// font-size: 0
		+lg
			text-align: center
	.detail_picture
		+md
			margin-right: 0
		+sm
			max-width: 296px
			object-fit: cover
			width: 100% 

#about > .container-new > p > a
	+md
		padding: 13px 45px
		font-size: 16px
		display: block
	+sm
		width: 100%
	
#about > .container-new > p
	+sm
		width: 100%
