#contacts
	margin: 0 -15px 
	.container-new
		+md
			padding-top: 20px
			padding-bottom: 20px 
	h2
		+sm
			font-size: 20px
			margin: 0 0 10px 0 

.contacts-left
	+md
		float: none
		text-align: center
		margin: 0 auto 
	+sm
		width: 100%
	h3
		+sm
			margin-top: 10px
			font-size: 18px
	p
		+md
			width: auto
		+sm
			font-size: 14px

.contacts-social
	+md
		margin-top: 30px

.map
	+lg
		width: 100%
		max-width: calc(100% - 300px)
		height: 440px
	+md
		height: 310px
		float: none
		margin: 15px auto 0
		max-width: 700px
	+sm
		border: 2px #fff solid
		height: 304px
	#ymaps1528727547522448162
		width: 100%

.map > ymaps,
.map > ymaps > ymaps
	+lg
		width: 100% !important
		height: 430px !important
	+md
		height: 300px !important

		