#contacts 
	h2
		+sm
			font-size: 20px
			margin: 0 0 10px 0 

.contacts-left
	+sm
		width: 100%
	h3
		+sm
			margin-top: 10px
			font-size: 18px
	p
		+sm
			font-size: 14px

.contacts-social
	margin-top: 30px