#contacts 
	h2
		+sm
			font-size: 20px
			margin: 0 0 10px 0 

.contacts-left
	+sm
		width: 100%
	h3
		+sm
			margin-top: 10px
			font-size: 18px
	p
		+sm
			font-size: 14px

.contacts-social
	margin-top: 30px

.map
	width: 100%
	max-width: 710px
	height: 440px
	#ymaps1528727547522448162
		width: 100%

.map > ymaps,
.map > ymaps > ymaps
	+sm
		width: 100% !important
		height: 300px !important

		