footer
	.container-new
		+md
			padding: 45px 45px 
		+sm
			padding: 15px
	h2
		+md
			margin-bottom: 15px
			font-size: 16px
	.row
		+lg
			display: flex
			justify-content: space-between
		+md
			display: block
	.footer-c
		+lg
			margin-left: 0
			float: none
		+md
			margin-bottom: 25px
	.footer-l
		+lg
			float: none
		+md
			margin-bottom: 25px
	.footer-r
		+lg
			float: none
		+md
			margin-bottom: 25px

#copy p
	line-height: 25px
	font-size: 12px
			

