.center-movie
	+lg
		width: 28.54%
		margin-left: 0
		padding-left: 40px
		height: 100%
	+md
		float: none
		width: 100%
		padding: 0 
	a
		+lg
			position: relative
			width: 100%
			bottom: 5px
		+md
			display: block
	a:last-child
		+lg
			position: relative
.right-movie
	+lg
		width: 34.45%
		margin-left: 0
		padding-left: 20px
		height: 100%
	+md
		float: none
		padding: 0
		width: 100%
	a:last-child
		+lg
			display: block
			width: 100%
	
			position: relative
#movies
	.btn-movie
		+lg
			width: 100%
			padding: 28px 20px
			line-height: 1.2
			font-size: 18px
		+md
			padding: 13px 10px
			font-size: 16px

.movie-wrap
	+sm
		margin-bottom: 15px
	a:first-child
		+lg
			display: block
			width: 30.31%
		+sm
			width: 50%
	a
		img
			+lg
				width: 100%
				display: block
			+md
				float: none
	.btn-trailer
		+lg
			font-size: 15px
			width: 100%
			padding: 9px
		+md
			margin-top: 15px
.movie-descr
	p
		+md
			margin-top: 25px
.movie-genre
	p
		+md
			margin-top: 20px
			margin-bottom: 30px
.right-movie
	h4
		+md
			margin-top: 10px
			margin-bottom: 10px
	p
		+md
			margin-bottom: 10px

.movie-wrap
	img
		+lg
			width: 30.31%
		+md
			float: none
		+sm
			width: 50%
