.movie-block
	height: 100%
	margin: 0 21px
.movie-block:last-child
	+md
		margin-right: 21px
.movie-block:first-child
	+md
		margin-left: 21px
.movie-block p
	margin-bottom: 30px
.container-p
	+sm
		padding: 0 