.movie-block
	+lg
		height: 100%
		margin: 0 20px
.movie-block:last-child
	+md
		margin-right: 21px
.movie-block:first-child
	+md
		margin-left: 21px
.movie-block p
	margin-bottom: 30px
	+md
		font-size: 14px
#movies
	.container-new
		+md
			padding-top: 20px
			padding-bottom: 20px 