.movie-block
	+lg
		height: 100%
		margin: 0 20px
.movie-block:last-child
	+lg
		margin-right: 20px
.movie-block:first-child
	+lg
		margin-left: 20px
.movie-block p
	margin-bottom: 30px
	+md
		font-size: 14px
#movies
	.container-new
		// +lg
		// 	padding-bottom: 0
		+md
			padding-top: 20px
			padding-bottom: 20px 