#single-news
	.x-img-main
		+lg
			display: block
			width: 100%
			object-fit: cover
	h2
		+sm
			font-size: 20px
			margin-bottom: 10px
	h3
		+sm
			margin-top: 15px
			margin-bottom: 10px
			font-size: 20px 
	iframe
		+sm
			width: 100%
	p
		img
			+lg
				display: block
				width: 100%
				object-fit: cover
			+md
				height: 300px

.gallery
	.img-block:first-child, .img-block:nth-child(5)
		margin-left: 10px