#news
	.container-new
		+md
			padding: 0 45px 35px
		+sm
			padding: 0 15px 35px
// .container-p
// 	+md
// 		padding: 0 45px
// 	+sm
// 		padding: 0 15px 35px
	 
.big-row
	+md
		margin-bottom: 0
	.news-left
		width: calc(100% - 341px) 
		+md
			width: 100%
			max-width: 100%
			margin-bottom: 10px
		+sm
			height: 400px
		+r(450)
			height: 300px
	.news-right
		+md
			display: flex
			width: 100%
			flex-direction: column
	.news-right-top
		+md
			width: 100%
			// margin-bottom: 10px
		+r(450)
			height: 200px
	.news-right-bottom
		+md
			width: 100%
			margin-bottom: 10px
		+sm
			padding: 5px
		h3
			+sm
				font-size: 16px
	.xoverlay-data
		+sm
			padding: 10px 15px
		h3
			+sm
				font-size: 16px
.big-row
	+md
		margin-bottom: 0
	.news-right-top
		img
			object-fit: cover
.x-right
	.xoverlay-box
		right: -100%
.xoverlay
	+sm
		.x-img-main
			height: 400px
	+r(450)
		.x-img-main
			height: 300px
		
.small-row
	+md
		margin-bottom: 0
		display: flex
		flex-direction: column-reverse
	.news-left
		+md
			width: 100%
			margin-bottom: 10px
		+sm
			padding: 5px
		h3
			font-size: 16px
	.news-right
		width: calc(100% - 354px)
		+md
			width: 100%
			margin-bottom: 10px
		+r(450)
			height: 200px
		img
			object-fit: cover
.btn-news
	+lg
		max-width: 390px
		width: 100%
		padding: 26px 10px
		line-height: 1.1
	+md
		font-size: 16px
		padding: 13px 10px
	+sm
		max-width: 100%

.btn-prev
	+md
		margin: 15px 0 0

.btn-next
	+md
		margin-top: 15px
			

