#about
	.container-new
		+md
			padding-top: 20px
			padding-bottom: 20px
	.row
		+sm
			text-align: center
	h2
		+sm
			font-size: 20px
	hr
		+sm
			margin-top: 20px
			margin-bottom: 10px
	.news-detail
		+md
			text-align: center

.about-block
	img
		+lg
			width: 29.53%
		+sm
			width: 40%
			float: none
.about-left
	+lg
		width: 70.47%
		margin-left: 0
		padding-left: 45px
	+sm
		width: 100%
		float: none
		padding-left: 0
	p
		+sm
			font-size: 16px
			margin-bottom: 15px
.prod-block
	+lg
		width: 33%
		padding: 0.985% 0.985% 0
		margin: 0
		vertical-align: top
	+md
		width: 49.7%
	+sm
		width: 100%
	img
		+lg
			display: block
			max-width: 100%
			height: 436px
			margin: 0 auto 
			object-fit: cover
		+md
			object-position: top
	p
		+md
			margin-bottom: 15px
			margin-top: 7px
			font-size: 14px
